body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background: #f4f4f4;
}

/* HEADER */
.header {
    background: #f6f6f6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

/* Logo area */
.logo-area {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 80px;
    margin-right: 10px;
}

.logo-text h1 {
    margin: 0;
    color: #2c85ce;
    letter-spacing: 2px;
}

.logo-text p {
    margin: 5px 0 0;
    color: #2895c0;
}

/* Menu button */
.menu-btn {
    background: #8852b4;
    padding: 12px 18px;
    font-size: 18px;
}

/* MENU LIST */
.menu {
    text-align: center;
}

.menu-item {
    display: block;
    padding: 25px;
    font-size: 26px;
    border-bottom: 1px solid #ddd;
    background: #eeeeee;
    text-decoration: none;
    color: #140d0d;
    letter-spacing: 2px;
}

.menu-item:hover {
    background: #e0e0e0;
}

/* Eight and two IMAGE LAYOUT */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*2 columns*/
    gap: 30px;
    /*horizontal+ vertical spacing*/
    padding: 40px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/* MOBILE */
@media(max-width:768px) {
    .image-section {
        flex-direction: column;
    }

    .img-box {
        width: 100%;
    }
}

/* CONTACT SECTION */
.contact {
    background: #f1f1f1;
    text-align: center;
    padding: 50px 20px;
    margin-top: 40px;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 20px;
    width: 100%;
}

.contact-item img {
    width: 35px;
}